.multiple-input .input-group-addon {
  width: auto;
}
.multiple-input .input-group-addon i {
  margin-top: 5px;
}
.multiple-input input {
  height: 41px;
}
.logo img {
  max-width: 90%;
}
.form-group .close {
  top: 7px;
  right: 7px;
}
.form-group .btn .glyphicon {
  margin-bottom: 5px;
  margin-right: 5px;
}
/*# sourceMappingURL=base.css.map */