.multiple-input {
  .input-group-addon {
    //min-width: 40px;
    width: auto;
    i {
      margin-top: 5px;
    }
  }
  input {
    height: 41px;
  }
}

.logo {
  img {
    max-width: 90%;
  }
}

.form-group {
  .close {
    top: 7px;
    right: 7px;
  }

  .btn {
    .glyphicon {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}